{% extends 'main/base.html'%}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <h1>Страница про нас</h1>
        <br/>
    <p><strong>Приветсвую!</strong>
        <br/>
        <br/>
Данное приложение является учебным проэктом. Проект не имеет некотрых функций которые хотелось бы использовать.
Одним из ярких примеров неосуществленых функций является: механизм удаления задач, а также механизм перевода задачи в статус выполненные. Эти функции есть в admin панели<em>(вход в панель администратора смотри ниже)</em>.
        Надеюсь в будущем добавить данные функции.
        <br/>
        <br/>
<b>Проект выполнен по материалам:</b><a href="https://itproger.com/news/izuchenie-django-sozdanie-sai-ta-na-python-dzhango-za-chas"> itproger.com</a>
        <br/>
<b>Проект выполнил:</b> Дычаквский Николай <a href="mailto:nikolaidych@gmail.com"> nikolaidych@gmail.com</a>
        <br/>
        <br/>

<b>Как войти в админ панель:</b>
        <br/>
        <br/>
    к адресу сервера добавить .../admin
    (<b>пример: http://127.0.0.1:8000/admin/</b>)
        <br/>
        <br/>
    <b> Пароль: </b>
        admin
        <br/>
    <b> Логин: </b>
        admin</p>
{% endblock %}


